.form-container {
  display: flex; /* Utiliza flexbox para controlar la disposición */
  align-items: center; /* Centra verticalmente los elementos */
}

.Progress-text{
  font-size: 0.7em; /* Tamaño de la fuente del título */
  font-weight: bold; /* Negrita */
  font-style: italic;
}

.input-field {
  flex: 1; /* El campo de entrada tomará todo el espacio disponible */
}

.avatar-container {
  margin-left: 16px; /* Ajusta el margen entre el campo de entrada y la imagen */
}

.contenedor-imagen {
  position: relative;
  margin-left: auto; /* Esto empujará el contenedor hacia la derecha */
}

.full-width {
  width: 100%;
}

.mt-3 {
  margin-top: 16px;
}


.col-2 {
  text-align: center;
}


.avatar-container {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
}

.avatar {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  border: 2px solid rgb(25, 0, 255); /* Añade un borde blanco para mejorar la apariencia */
  cursor: pointer; /* Cambia el cursor a un puntero al pasar el ratón sobre la imagen */
  box-shadow: 0 0 5px 5px rgba(10, 0, 255, 0.5);
}

.mat-mdc-card-content:last-child {
  padding-bottom: 50px;
}

.main-card {
  padding: 16px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
}

.custom-card {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.course-icon {
  background-color: #3f51b5;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  height: 8px;
  margin-top: 8px;
}

.progress-bar {
  background-color: #3f51b5;
  height: 100%;
  transition: width 0.3s;
}

.progress-text {
  margin-top: 8px;
  font-size: 14px;
  color: #757575;
}

mat-card-title {
  font-size: 1.25rem;
  font-weight: 500;
}

mat-card-content p {
  margin: 0;
  font-size: 14px;
  color: #424242;
}
