.form-container {
  display: flex; /* Utiliza flexbox para controlar la disposición */
  align-items: center; /* Centra verticalmente los elementos */
}

.input-field {
  flex: 1; /* El campo de entrada tomará todo el espacio disponible */
}

.avatar-container {
  margin-left: 16px; /* Ajusta el margen entre el campo de entrada y la imagen */
}

.contenedor-imagen {
  position: relative;
  margin-left: auto; /* Esto empujará el contenedor hacia la derecha */
}

.full-width {
  width: 100%;
}

.mt-3 {
  margin-top: 16px;
}


.col-2 {
  text-align: center;
}


.avatar-container {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
}

.avatar {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  border: 2px solid rgb(25, 0, 255); /* Añade un borde blanco para mejorar la apariencia */
  cursor: pointer; /* Cambia el cursor a un puntero al pasar el ratón sobre la imagen */
  box-shadow: 0 0 5px 5px rgba(10, 0, 255, 0.5);
}


/* app.component.css */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centrar las tarjetas */
}

.custom-card {
  width: 100%;
  border-radius: 8px; /* Bordes redondeados */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Animaciones de transición */
}

.custom-card:hover {
  transform: translateY(-5px); /* Elevar la tarjeta al pasar el cursor */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al pasar el cursor */
}

mat-card-header {
  background-color: #f5f5f5; /* Color de fondo del encabezado */
  border-bottom: 1px solid #000000; /* Borde inferior del encabezado */
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

mat-card-title {
  font-size: 1.2em; /* Tamaño de la fuente del título */
  font-weight: bold; /* Negrita */
}

mat-card-content p {
  margin: 0.5em 0; /* Márgenes en el contenido */
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end; /* Alinear el botón a la derecha */
}
.card {
  flex: 1; /* La tarjeta toma todo el espacio disponible en el contenedor */
  height: 200px; /* Establece el alto de la tarjeta en 200px */
  /* Otros estilos de la tarjeta */
}
.progress-container {
  width: 100%;
  background-color: #f0f0f0; /* Fondo de la barra de progreso */
  border-radius: 4px;
  overflow: hidden; /* Asegura que la barra no se salga de los bordes */
  margin-top: 4px; /* Espacio arriba de la barra de progreso */
  margin-bottom: 8px; /* Espacio debajo de la barra de progreso */
  height: 8px; /* Altura de la barra de progreso */
}

.progress-bar {
  height: 100%;
  background-color: #3f51b5; /* Color de la barra de progreso */
  width: 0; /* Inicialmente la barra está a 0% */
  transition: width 2s ease-out; /* Animar el ancho de la barra en 2 segundos */
  border-radius: 4px 0 0 4px; /* Bordes redondeados en el lado izquierdo */
}
