<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg col-md-4">
      <div class="text-center">
          <img src="../../../assets/coderhouse.jpeg" alt="Logo" class="mb-4 imglogo"/>

      </div>
      <form (ngSubmit)="login()">
          <div class="form-floating mb-3">
              <input
                  matInput
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="Usuario"
                  name="username"
                  [(ngModel)]="username"
                  required
              />
              <label for="floatingInput">Usuario</label>
          </div>
          <div class="form-floating mb-3">
              <input
                  matInput
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="password"
                  required
              />
              <label for="floatingPassword">Password</label>
          </div>

          <button
              class="w-100 btn btn-lg btn-primary"
              type="submit"
              [disabled]="!username || !password">
              Login
          </button>
      </form>
      <p *ngIf="loginError" class="text-danger mt-3">
          Usuario o Password inválidos.
      </p>
  </div>
</div>
