<div class="container">
  <img src="../../../../../assets/coderhouse.jpeg" alt="centered image"  class="centerImage">

  <div class="container">
    <div class="card">
        <h1>Bienvenidos a TechSchool</h1>
        <p>En TechSchool, nos dedicamos a formar a la próxima generación de expertos en tecnología. Nuestra academia está diseñada para ofrecer una educación de alta calidad en áreas clave como programación, ciencia de datos, diseño gráfico y más. Con una comunidad vibrante y un enfoque en la innovación, estamos comprometidos a proporcionar las herramientas y el apoyo necesarios para que nuestros alumnos puedan alcanzar su máximo potencial.</p>
    </div>
    <div class="card">
        <h2>Nuestra Plataforma de Administración de Alumnos</h2>
        <p>La plataforma de administración de alumnos de TechSchool es una herramienta integral diseñada para facilitar la gestión académica y mejorar la experiencia educativa de nuestros estudiantes. A través de nuestra plataforma, podrás:</p>
        <ul>
            <li><strong>Acceder a Información Personalizada:</strong> Consulta tu perfil académico, historial de cursos y progreso en tiempo real.</li>
            <li><strong>Gestionar Inscripciones:</strong> Inscríbete fácilmente en nuevos cursos y programas según tus intereses y necesidades.</li>
            <li><strong>Comunicación Efectiva:</strong> Mantén una comunicación fluida con tus instructores y compañeros de clase.</li>
            <li><strong>Recursos Educativos:</strong> Accede a materiales de estudio, proyectos y recursos adicionales para complementar tu aprendizaje.</li>
            <li><strong>Seguimiento de Progreso:</strong> Monitorea tu desempeño y recibe retroalimentación continua para mejorar tus habilidades.</li>
        </ul>
    </div>
    <div class="card">
        <h2>Nuestro Compromiso</h2>
        <p>En TechSchool, creemos que la educación es la clave para el éxito en el mundo tecnológico. Nos esforzamos por crear un entorno de aprendizaje inclusivo y dinámico, donde cada alumno tenga la oportunidad de crecer y desarrollarse. Nuestro equipo de instructores expertos y profesionales dedicados están aquí para guiarte en cada paso de tu viaje educativo.</p>
        <p>Te invitamos a unirte a nuestra comunidad y descubrir cómo TechSchool puede ayudarte a alcanzar tus metas profesionales. Explora nuestras ofertas de cursos, inscríbete y comienza tu camino hacia una carrera exitosa en tecnología.</p>
    </div>
</div>


</div>
