.dialog-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.content {
  margin-top: 10px;
}

.mat-table {
  width: 100%;
}

.no-alumnos-message {
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #777;
}
