.example-container {
    width: 100%;
    height: 100vh;
  }

  .example-sidenav-content {
    height: 100%;
  }

  .example-sidenav {
    padding: 20px;
    width: 20%; /* Ancho del mat-drawer */
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .example-button-row {
    display: table-cell;
    max-width: 200px;
  }

  .example-button-row .mat-mdc-button-base {
    margin: 10px 8px 8px 10px;
  }


  .logo {
    display: block;
    margin: 0 auto; /* Margen automático en los lados */
    /* Ajusta el tamaño de la imagen si es necesario */
    width: 200px;
    height: auto;
  }

  .contenedor-imagen {
    position: relative;
    margin-left: auto; /* Esto empujará el contenedor hacia la derecha */
  }

  .imagen-usuario {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    border: 2px solid white; /* Añade un borde blanco para mejorar la apariencia */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar el ratón sobre la imagen */
  }

  .example-button-row {
    display: table-cell;
    max-width: 300px;
    padding: 20px;
}

.boton-con-efecto {
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.contenedor-imagen {
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.boton-con-efecto:hover  {
  transform: scale(1.1); /* Agrandar el botón al 110% del tamaño original */
}

.contenedor-imagen:hover{
  transform: scale(1.1); /* Agrandar el botón al 110% del tamaño original */
}

.usuario-info{
  text-align: center;
}


.dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}
