<div *ngIf="isAuthenticated">
<mat-drawer-container class="example-container" autosize>
    <!-- SIDEBAR -->
    <mat-drawer
      [opened]="!isMobile()"
      #drawer
      class="example-sidenav"
      [mode]="isMobile() ? 'over' : 'side'"
    >
    <img src="../../../assets/coderhouse.jpeg" alt="Logo" class="logo" *ngIf="!isMobile()">
    <div class="example-button-row d-flex row col-12">

      <button mat-raised-button routerLink="" class="boton-con-efecto" *ngIf="!isMobile()">
        <mat-icon>home</mat-icon> <!-- Icono de inicio -->
        Inicio
      </button>
      <button mat-raised-button routerLink="" class="boton-con-efecto" *ngIf="isMobile()">
        <mat-icon>home</mat-icon> <!-- Icono de inicio -->
      </button>

      <button mat-raised-button routerLink="/students" class="boton-con-efecto" *ngIf="!isMobile()">
        <mat-icon>school</mat-icon>
        Alumnos
      </button>
      <button mat-raised-button routerLink="/students" class="boton-con-efecto" *ngIf="isMobile()">
        <mat-icon>school</mat-icon>
      </button>

      <button mat-raised-button routerLink="/cursos" class="boton-con-efecto" *ngIf="!isMobile()">
        <mat-icon>book</mat-icon>
        Cursos
      </button>
      <button mat-raised-button routerLink="/cursos" class="boton-con-efecto" *ngIf="isMobile()">
        <mat-icon>book</mat-icon>
      </button>

      <button mat-raised-button routerLink="/clases" class="boton-con-efecto" *ngIf="!isMobile()">
        <mat-icon>book</mat-icon>
        Clases
      </button>
      <button mat-raised-button routerLink="/clases" class="boton-con-efecto" *ngIf="isMobile()">
        <mat-icon>book</mat-icon>
      </button>

      <button mat-raised-button routerLink="/users" id="botonUsuarios" class="boton-con-efecto" *ngIf="(rolLogin$ | async) === 'admin'">
        <mat-icon>people</mat-icon>
        Usuarios
      </button>


        <button mat-raised-button  id="botonUsuarios" class="boton-con-efecto">
            <div style="display: flex; justify-content: center; align-items: center;">
              <mat-icon>brightness_5</mat-icon>
                
              <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
              <mat-icon>brightness_2</mat-icon>
            </div>
      </button>
    </div>




    </mat-drawer>
    <!-- SIDEBAR -->

    <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
    <div class="example-sidenav-content">
      <!-- TOOLBAR SUPERIOR -->
      <mat-toolbar color="primary">
        <button
          (click)="drawer.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>

        <span appTamano20>TechSchool {{ titulo }}</span>

        <div class="contenedor-imagen" [matMenuTriggerFor]="menuUsuario">
          <div *ngIf="(isLogin$ | async)">
            <img class="imagen-usuario" [src]=this.avatar alt="Usuario"/>
          </div>


         <mat-menu #menuUsuario="matMenu">
          <div *ngIf="(isLogin$ | async)">
            <p class="usuario-info">{{ this.userLogin$ | async}} ({{ this.rolLogin$ | async}})</p>
          </div>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="usrInfo()">
              <mat-icon>person_edit</mat-icon>
              <span>Ver Perfil</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar sesión</span>
            </button>
          </mat-menu>

        </div>
      </mat-toolbar>
      <main style="padding: 1rem">
        <router-outlet />
      </main>

      <!-- TOOLBAR SUPERIOR -->
    </div>
    <!-- CONTENIDO A LA DERECHA DEL SIDEBAR -->
  </mat-drawer-container>
</div>

<div *ngIf="!isAuthenticated">
  <app-login></app-login>
</div>
